#Homepage{
  display: flex,
}

.title-icon-next-aired, .see-all-next-aired {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.see-all-next-aired {
  &:hover{
    text-decoration: underline;
    font-style: italic;
  }
}

.hiddenCardIcon {
  display: none;
  border-radius: 50% !important;
  padding: 5px 6px !important;
  cursor: pointer !important;
}