.fond-img{
  height: 210vh;
  padding-top: 10%;
  background-image:
  linear-gradient(to bottom, rgba(255, 255, 255, 0) 10%,rgb(33, 33, 33) 97%),
  linear-gradient(to top, rgba(255, 255, 255, 0) 10%,rgb(33, 33, 33) 97%);
}