#Navbar {
    margin-bottom: 9vh;
}

#Navbar img {
    width: 75px;
    position: absolute;
    margin: -10px 0 0 10px;
}

// Overrides the react-router-dom NavLink grey color (inherit)
#dashboard-nav-button {
    color: #fff !important;
}

form#form-submit {
    width: 100% !important;
}