// Default user avatar...
#user-avatar {
  background-image: url(/src/styles/assets/images/avatars/avatar-pres.png);
  background-position: center;
  background-size: contain;
  box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.55);
  }

// ...with gradient
#user-avatar-gradient {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.589) 100%);
  width: 100%;
  height: 100%;
  background-position: bottom;
  background-size: contain;
  
  &:hover {
    background-image: linear-gradient(to bottom, rgba(21, 21, 21, 0) 40%, rgba(21, 21, 21, 0.589) 100%);
  }
}