#Dashboard {
  height: 100vh;
}

#user-avatar {
  background-image: url(/src/styles/assets/images/avatars/avatar.jpg);
  background-position: center;
  background-size: contain;
  box-shadow: 3px 4px 5px 0px rgba(30, 30, 30, 0.55);

  &:hover {
    #user-avatar-gradient {
      background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.589) 100%);
      width: 100%;
      height: 100%;
      background-position: bottom;
      background-size: contain;
    }
  }
}


